<div class="footer row">
   <div class="container_960">
      <div class="col-xs-12 col-sm-12 col-md-3">
         © Look 2016 Salon  <br />
         fryzjersko-kosmetyczny
      </div>
   </div>
   <br /> <br /> <br />  
</div>
