<div class="container_960">
   <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-5 col-md-offset-4 col-sm-offset-4 ">
         <div class="b-head-logo b-head-logo_fix_width">
            <span class="sprite logo"></span>
            <div class="b-head-logo_title">
               Salon Fryzjersko-kosmetyczny
            </div>
         </div>
      </div>
      <div class="col-xs-12 col-sm-3 col-md-3 b-head-contact">
         <div class="b-phone-logo">
            <div class = "sprite phone-icon"></div>
         </div>
         <div class="b-phone-numbers">
            <div style="margin-top: 21px;">+48 883 50 50 53</div><!-- 
            <div>+48 883 50 50 53</div> -->
         </div>
      </div>
   </div>
</div>