<div class="b-menu-conteiner">
	   <div class="container_960 padding_lr_10">
			<!-- <div class="col-xs-12 col-sm-12 col-md-12">	 -->
		      <div class="menu">
		         <a class="menu-item <% if (select == 'base') { %> menu-item_active <% } %>" href="/">STRONA GŁÓWNA</a>
		         <a class="menu-item <% if (select == 'price_list') { %> menu-item_active <% } %>" href="/price_list">CENNIK USŁUG</a>
		         
		         <!-- <a class="menu-item <% if (select == 'action') { %> menu-item_active <% } %>" href="/action">PROMOCJI</a> -->
		         
		         <a class="menu-item <% if (select == 'gallery') { %> menu-item_active <% } %>" href="/gallery">GALERIA</a>
		         <a class="menu-item <% if (select == 'kontakty') { %> menu-item_active <% } %>" href="/kontakty">KONTAKT</a>
		      </div>
		    <!-- </div> -->
		</div>   
</div>