<div class="row horisontal_container">
   <div class="col-xs-12 col-sm-12 col-md-12 head_row_block">
      <h2 class="h1_bold h1_bold_row_block">POPULARNE USŁUGI SALONU</h2>
   </div>
   
   <div class="col-xs-12 col-sm-3 col-md-3 text-align-center">
      <div class="w-popular-servis">
         <img src="/img/popular/1_1.jpg" class="before_hover">
         <img src="/img/popular/1.jpg" class="after_hover">
         <span class="ps-name">Strzyżenie męskie</span>
         <a href="/price_list">
            <div class="yellow-button ps-button">ZOBACZ CENĘ</div>
         </a>   
      </div>
   </div>

    <div class="col-xs-12 col-sm-3 col-md-3 text-align-center">
      <div class="w-popular-servis">
         <img src="/img/popular/2_1.jpg" class="before_hover"/>
         <img src="/img/popular/2.jpg" class="after_hover"/>
         <span class="ps-name">Strzyżenie damskie</span>

         <a href="/price_list">
            <div class="yellow-button ps-button">ZOBACZ CENĘ</div>
         </a>
      </div>
   </div>

    <div class="col-xs-12 col-sm-3 col-md-3 text-align-center">
      <div class="w-popular-servis">
         <img src="/img/popular/3_1.jpg" class="before_hover"/>
         <img src="/img/popular/3.jpg" class="after_hover">
         <span class="ps-name">Epilacja <br /> IPL</span>

         <a href="/price_list">
            <div class="yellow-button ps-button">ZOBACZ CENĘ</div>
         </a>
      </div>
   </div>


    <div class="col-xs-12 col-sm-3 col-md-3 text-align-center">
      <div class="w-popular-servis">
         <img src="/img/popular/4_1.jpg" class="before_hover">
         <img src="/img/popular/4.jpg" class="after_hover">
         <span class="ps-name">Mnicure, pedicure</span>

         <a href="/price_list">
            <div class="yellow-button ps-button">ZOBACZ CENĘ</div>
         </a>
      </div>
   </div>
</div>
