<div class="row horisontal_container">
   <div class="col-xs-12 col-sm-12 col-md-12 head_row_block">
      <h2 class="h1_bold h1_bold_row_block">PROMOCJI</h2>
   </div>
   <div class="col-xs-12 col-sm-6 col-md-6">
         <div class="b-pmo-photo">
            <div class="b-pmo-action">-20%</div>
             <a href="/price_list">   
               <img src ="img/akcija_2.jpg" />
             </a>  
         </div>
         <div class="h1_bold">
            DEPILACJA - CIAŁO
         </div>
         <p class="p_custop p_custop_prom">
            Nasza praca, jako fryzjerów i kosmetyczki, to nie 
            tylko zawód, ale przede wszystkim pasja z której 
            czerpiemy mnóstwo satysfakcji i przyjemności. 
         </p>
      </a>   
   </div>

   <div class="col-xs-12 col-sm-6 col-md-6">
         <div class="b-pmo-photo">
            <div class="b-pmo-action">-50%</div>
             <a href="/price_list">
               <img src ="img/akcija_1.jpg" />
             </a>  
         </div>
         <div class="h1_bold">
            KERATYNOWE PROSTOWANIE WŁOSÓW
         </div>
         <p class="p_custop p_custop_prom">
            Nasza praca, jako fryzjerów i kosmetyczki, to nie 
            tylko zawód, ale przede wszystkim pasja z której 
            czerpiemy mnóstwo satysfakcji i przyjemności. 
         </p>
   </div>
</div>
