<div class="row w-carusel_mob">
   <div class="w-carusel_1">
      <div class="carusel_1">
         <a href = "/price_list"> <img src="img/slide_1.jpg" /> </a>
      </div>
      <div class="carusel_1">
        <a href = "/price_list"> <img src="img/slide_3.jpg" /> </a>
      </div>
   </div>
</div>