<div class="row w-carusel_mob">
   <div class="w-carusel_1">
      <div class="carusel_1">
         <img src="img/slide_1.jpg" />
      </div>
      <div class="carusel_1">
         <img src="img/slide_2.jpg" />
      </div>
   </div>
</div>