<div class="container_960">
   <div class="row horisontal_container">
      <div class="col-xs-12 col-sm-12 col-md-12 head_row_block">
         <h2 class="h1_bold h1_bold_row_block">ŚLEDŹ NAS</h2>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 b-social">
         <a href="#"><span class="sprite facebook-icon"></span></a>
         <a href="#"><span class="sprite vk-icon"></span></a>
         <a href="#"><span class="sprite inst-icon"></span></a>
      </div>
   </div>
</div>