
   <div class="row yellow-block">
      <div class="container_960">
         
         <div class="col-xs-6 col-sm-6 col-md-3">
            <img class="staff_img" src="img/photo_1.jpg" />
            <br /> <br />  
            <div class="h1_bold">
               AGNIESZKA ŁOMŻA
            </div>
            <p class="p_custop p_custop_prom">
               Fryzjer - Stylista
            </p>
         </div>

         <div class="col-xs-6 col-sm-6 col-md-3">
               
            <img class="staff_img" src="img/photo_1.jpg" />

            <br /> <br />  
            <div class="h1_bold">
               MARTA NAZWISKO
            </div>
            <p class="p_custop p_custop_prom">
               Kosmetyczka, manicure
            </p>
         </div>


         <div class="col-xs-6 col-sm-6 col-md-3">
            <img class="staff_img" src="img/photo_1.jpg" />
            <br /> <br />  
            <div class="h1_bold">
               AGNIESZKA ŁOMŻA
            </div>
            <p class="p_custop p_custop_prom">
               Fryzjer - Stylista
            </p>
         </div>

          <div class="col-xs-6 col-sm-6 col-md-3">
            <img class="staff_img" src="img/photo_1.jpg" />
            <br /> <br />  
            <div class="h1_bold">
               MARTA NAZWISKO
            </div>
            <p class="p_custop p_custop_prom">
               Kosmetyczka, manicure
            </p>
         </div>
      </div>
   </div>
  