<div class="row horisontal_container">
   

   <div class="col-xs-12 col-sm-6 col-md-7">
      <div class="welcome_slider">
         <div><img src="/img/salon_photo/3.jpg" /></div>
         <div><img src="/img/salon_photo/5.jpg" /></div>
         <div><img src="/img/salon_photo/2.jpg" /></div>
      </div>   
   </div>


   <div class="col-xs-12 col-sm-6 col-md-5">
      <h1 class="h1_bold">WELCOME!</h1>
      <p class="p_custop">Serdecznie zapraszamy do nowo 
         otwartego Salonu fryzjersko-kosmetyczny 
         Look, który powstał z myślą o osobach,
         chcących dbać o swój wygląd w przyjaznej, 
         miłej atmosferze w kameralnym miejscu.
      </p>
      <p class="p_custop">Nasza praca, jako fryzjerów i kosmetyczki, 
         to nie tylko zawód, ale przede wszystkim 
         pasja z której czerpiemy mnóstwo 
         satysfakcji i przyjemności. Poprzez 
         indywidualne podejście 
      </p>
   </div>
</div>