<div class="container_960">
	<div class="col-xs-12 col-sm-12 col-md-12">
		<div class="b-gallery-tytle">
			MANICURE / PEDIKURE
		</div>
	</div>	

	<div class="row">
		 <div class="col-xs-12 col-sm-3 col-md-3">
		 	<a data-lightbox="image-1" data-title="My caption" href="/img/gallery/1.jpg">
		 		<img src="/img/gallery/1.jpg" class="staff_img" />
		 	</a>	
		 </div>

		 <div class="col-xs-12 col-sm-3 col-md-3">
		 	<a data-lightbox="image-1" data-title="My caption" href="/img/gallery/2.jpg">
		 		<img src="/img/gallery/2.jpg" class="staff_img" />
		 	</a>	
		 </div>

		 <div class="col-xs-12 col-sm-3 col-md-3">
		 	<a data-lightbox="image-1" data-title="My caption" href="/img/gallery/1.jpg">
		 		<img src="/img/gallery/1.jpg" class="staff_img" />
		 	</a>	
		 </div>

		 <div class="col-xs-12 col-sm-3 col-md-3">
			<a data-lightbox="image-1" data-title="My caption" href="/img/gallery/2.jpg">

		 		<img src="/img/gallery/2.jpg" class="staff_img" />
		 	</a>	
		 </div>

		 <div class="col-xs-12 col-sm-3 col-md-3">
		 	<a data-lightbox="image-1" data-title="My caption" href="/img/gallery/1.jpg">
		 		<img src="/img/gallery/1.jpg" class="staff_img" />
		 	</a>	
		 </div>

		 <div class="col-xs-12 col-sm-3 col-md-3">
		 	<a data-lightbox="image-1" data-title="My caption" href="/img/gallery/2.jpg">
		 		<img src="/img/gallery/2.jpg" class="staff_img" />
		 	</a>	
		 </div>

		 <div class="col-xs-12 col-sm-3 col-md-3">
		 	<a data-lightbox="image-1" data-title="My caption" href="/img/gallery/1.jpg">
		 		<img src="/img/gallery/1.jpg" class="staff_img" />
		 	</a>	
		 </div>

		 <div class="col-xs-12 col-sm-3 col-md-3">
		 	<a data-lightbox="image-1" data-title="My caption" href="/img/gallery/2.jpg">
		 		<img src="/img/gallery/2.jpg" class="staff_img" />
		 	</a>	
		 </div>

		 <div class="col-xs-12 col-sm-3 col-md-3">
		 	<a data-lightbox="image-1" data-title="My caption" href="/img/gallery/1.jpg">
		 		<img src="/img/gallery/1.jpg" class="staff_img" />
		 	</a>	
		 </div>

		 <div class="col-xs-12 col-sm-3 col-md-3">
		 	<a data-lightbox="image-1" data-title="My caption" href="/img/gallery/1.jpg">
		 		<img src="/img/gallery/2.jpg" class="staff_img" />
		 	</a>	
		 </div>
	</div>
</div>