<div class="container_960">
	<div class="row">

		<div class="col-xs-12 col-sm-12 col-md-12">
			<div class="b-gallery-tytle">
				STRZYŻENIE DAMSKIE
			</div>
		</div>	

		<div class="col-xs-12 col-sm-8 col-md-8">
			<table class="price_table">
				<tr class="first_tr">
					<td>Krótkie włosy</td>
					<td class = "price_td">35 zl</td>
				</tr>

				<tr>
					<td>Średnie włosy (do ramion)</td>
					<td class = "price_td">45-55 zl</td>
				</tr>

				<tr>
					<td>Długie włosy</td>
					<td class = "price_td">55-65 zl</td>
				</tr>

				<tr>
					<td>Podciecie koncowek</td>
					<td class = "price_td">
						<span class="price_action">
							<div class="price_action_minus_procent">-20%</div>	
							40 zl
						</span>	
					</td>
				</tr>

				<tr>
					<td>Strzyżenie grzywki</td>
					<td class = "price_td">10 zl</td>
				</tr>
			</table>
		</div>

		<div class="col-xs-12 col-sm-4 col-md-4">
			<img class="staff_img" src="/img/popular/2.jpg" />
			<div>
				<p class="p_custop p_custop_price">
					Stosujemy tylko najwyższej jakości 
					woski i preparaty renomowanych 
					firm kosmetycznych!
				</p>	

			</div>
		</div>
		
	</div>	
</div>	