<div class="container_960">
	<div class="row">

		<div class="col-xs-12 col-sm-12 col-md-12">
			<div class="b-gallery-tytle">
				EPILACJA IPL
			</div>
		</div>	

		<div class="col-xs-12 col-sm-4 col-md-4">
			<img class="staff_img" src="/img/popular/3.jpg" />
		</div>
		
		<div class="col-xs-12 col-sm-8 col-md-8">
			<div>
				<table class="price_table">
					<tr class="first_tr">
						<td></td>
						<td>MAŁE PARTIE</td>
						<td>ŚREDNIE PARTIE</td>
						<td>DUŻE PARTIE</td>
					</tr>

					<tr>
						<td>1 zabieg</td>
						<td class="price_big_td">49 zł</td>
						<td class="price_big_td">79 zł</td>
						<td class="price_big_td">99 zł</td>
					</tr>

					<tr>
						<td>3 zabiegi</td>
						<td class="price_big_td">139 zł</td>
						<td class="price_big_td">229 zł</td>
						<td class="price_big_td">279 zł</td>
					</tr>

					<tr>
						<td>6 zabiegów</td>
						<td class="price_big_td">269 zł</td>
						<td class="price_big_td">
							<span class="price_action">
								<div class="price_action_minus_procent">-40%</div>	
									246 zł
							</span>	
						</td>
						<td class="price_big_td">559 zł</td>
					</tr>

				</table>
			</div>	

		</div>

	</div>	
</div>	